.Gallerytitle h3 {
  font-size: 32px;
  font-weight: 600px;
  padding-top: 100px;
  padding-bottom: 60px;
  text-align: center;
}

/* .Gallerytitle {
  width: 1200px;
} */

.Gallerybody {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
}

.Artimg > img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

/* .Gallerybody {
  column-gap: 0.7%;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-column-gap: 0.7%;
  left: 50%;
  margin: 100px -50vw 0;
  margin: auto;
  position: relative;
  right: 50%;
  width: 100%;
  padding-left: 160px;
  padding-right: 160px;
} */

/* .Artimg img {
  border-radius: 4px;

  object-fit: contain;
} */

/* .Gallerybody img:nth-of-type(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
}

.Gallerybody img:nth-of-type(2) {
  grid-column: 1 / span 3;
  grid-row: 4 / span 2;
}

.Gallerybody img:nth-of-type(3) {
  grid-column: 1 / span 2;
  grid-row: 4 / span 2;
}

.Gallerybody img:nth-of-type(4) {
  grid-column: 1 / span 3;
  grid-row: 4 / span 2;
} */

/* .Artimg img {
  display: flex;
  width: 300px;
} */
