body {
  font-family: "Quicksand";
}

.Project {
  height: auto;
  padding-top: 16px;
  background-color: #0e0924 !important;
  color: #ffffff;
  padding-bottom: 60px;
}

.project-body {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding-top: 60px;
  margin: auto;
}

/* .project-links > a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 30px;
} */

.project-brief {
  max-width: 1200px;
  padding-top: 60px;
  margin: auto;
}

.project-brief-items {
  display: flex;
}

.btn-connect3 {
  width: 162px;
  height: 56px;
  background: #de6806;
  border: none;
  box-shadow: 4px 4px 4px rgba(247, 116, 7, 0.1);
  border-radius: 4px;
  cursor: pointer;
}

.btn-connect3 a:hover {
  background-color: #d26710;
}

.btn-connect3 a {
  text-decoration: none;
  color: #fef1e6;
}

h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.project-img {
  display: flex;
  justify-content: space-between !important;
}

.project-copy {
  padding-left: 100px;
  padding-top: 120px;
}

.colorbox {
  width: 50px;
  height: 50px;
  background-color: #d26710;
}

.colorbox-none {
  display: none;
}

.project-copy h3 {
  padding-left: 30px;
  padding-bottom: 20px;
  color: #ffffff;
}

.project-copy p {
  font-size: 14px;
  color: #f9f9f9;
  padding-left: 28px;
}

.project-links {
  display: flex;
}

.tab p {
  color: #ffffff;
  margin-left: 40px;
  cursor: pointer;
  font-size: 16px;
}

.tab p:active {
  color: #de6806;
}

.tab p:hover {
  color: #de6806;
}

.project-copy button {
  margin-left: 30px;
  margin-top: 20px;
}

.project-img > img {
  max-width: 482px;
  border-radius: 20px;
  height: 549px;
}

@media (max-width: 700px) {
  .Project {
    height: auto;
    width: 100%;
    text-align: center;
    padding-top: 16px;
    /* background-color: #ffffff !important;
    color: #0e0924; */
  }

  .project-body {
    display: block;
    justify-content: space-between;
    max-width: 100%;
    padding-top: 60px;
    margin: auto;
  }

  .project-brief {
    width: 100%;
  }

  .project-img {
    display: block;
    padding-bottom: 40px;
  }

  .project-links {
    width: 100%;
    font-size: 12px;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
  }

  .project-copy {
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 40px;
  }

  .tab p {
    margin-top: 10px;
    margin-left: 14px;
  }

  .project-copy h3 {
    padding-left: 0px;
  }

  .project-copy button {
    margin-left: 0px;
  }

  .project-copy p {
    padding-left: 0px;
  }

  .project-img > img {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
  }
}
