body {
  font-family: "Quicksand";
}

.Service-details {
  height: auto;
  padding-bottom: 60px;
  background-color: #ffffff !important;
  color: #0e0924;
}

.Services {
  display: flex;
}

.Services > .wrapper > p {
  font-weight: 400;
  font-size: 36px !important;
  line-height: 40px;
  padding-left: 0px;
  color: #3e375c;
}

.wrapper2 {
  width: 1200px;
  padding-top: 120px;
  padding-left: 103px;
}

#small-copy1 p {
  font-weight: 400;
  font-size: 38px !important;
  line-height: 24px;
  padding-left: 0px;
  padding-top: 16px;
  color: #3e375c;
}

#small-copy {
  font-weight: 400;
  font-size: 24px !important;
  line-height: 24px;
  padding-left: 0px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #3e375c;
}

.service-img {
  content: " ";
  width: 400px;
  height: 400px;
}

.btn-connect2 {
  width: 162px;
  height: 56px;
  background: #de6806;
  border: none;
  box-shadow: 4px 4px 4px rgba(247, 116, 7, 0.1);
  border-radius: 4px;
  cursor: pointer;
}

.btn-connect2 a:hover {
  background-color: #d26710;
}

.btn-connect a {
  text-decoration: none;
  color: #fef1e6;
}

h4 {
  font-size: 18px;
  padding-top: 20px;
  padding-left: 12px;
}

.service-gallery {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
}

.service-gallery p {
  font-size: 14px !important;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.service-img1 > img {
  width: 385px;
  height: 301px;
  /* object-fit: fill; */
}

.service-img2 > img {
  width: 385px;
  height: 301px;
  object-fit: fill;
}

.service-img3 > img {
  width: 385px;
  height: 301px;
  /* object-fit: fill; */
}

#background-1 {
  background-color: #eeebea;
  margin-top: 0px;
  padding-top: 0px;
  width: 385px;
  height: 250px;
}

@media (max-width: 700px) {
  .Service-details {
    /* height: 200vh; */
    height: auto;
    width: 100%;
    text-align: center;
    padding-top: 16px;
    background-color: #ffffff !important;
    color: #0e0924;
  }

  .service-gallery {
    width: 100%;
    display: block;
  }

  #small-copy1 p {
    font-weight: 400;
    font-size: 18px !important;
    line-height: 18px;
    padding-left: 0px;
    padding-top: 16px;
    color: #3e375c;
  }

  #small-copy {
    font-weight: 400;
    font-size: 16px !important;
    line-height: 16px;
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #3e375c;
  }

  .wrapper2 {
    width: 100%;
  }

  #background-1 {
    width: 100%;
    padding: 0 20px;
    /* height: 250px; */
  }

  .service-img1 > img {
    width: 100%;
    height: auto;
  }

  .service-img1 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .service-img2 > img {
    width: 100%;
    height: auto;
  }

  .service-img2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .service-img3 > img {
    width: 100%;
    height: auto;
  }

  .service-img3 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
