* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: "Quicksand", "Poppins" !important;
  margin: auto;
  background-color: #fef1e6;
}

@media (max-width: 700px) {
  html,
  body {
    width: 100%;
  }
}
