body {
  font-family: "Quicksand";
}

.footer-bg {
  background-color: #0e0924;
}

.Footer {
  height: 252px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  margin: auto;

  color: #fef1e6 !important;
  width: 1200px;
}

.Footer > .social-icons > svg {
  margin-left: 10px;
}

.Footer > .nav-logo-footer {
  font-weight: 700;
  font-size: 21px;
  margin: 15px;
  color: #fef1e6;
}

.Footer > .nav-items-footer > a {
  color: #fef1e6;
  font-size: 16px;
  text-decoration: none;
  margin: 25px;
  position: relative;
  opacity: 0.9;
}

.Footer > .nav-items-footer > a:hover {
  opacity: 0.5;
}

.Footer > .nav-items-footer > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #fef1e6;
  transition: all 0.45s;
}

.Footer > .nav-items-footer > a:hover::before {
  width: 100%;
}

.Footer > .nav-toggle {
  display: none;
}

hr .solid-line {
  position: absolute;
  border-top: 1px solid #a09caf;
  width: 1196px;
  border-style: dashed;
  /* justify-content: center;
  align-items: center; */
  margin: auto;
  top: 1190px;
}

@media (max-width: 700px) {
  .Footer {
    display: block;
    width: 100%;
    padding-top: 10px;
    height: 100%;
    margin: auto;
    background-color: #0e0924;
    color: #fef1e6 !important;
  }
  .Footer > .nav-items-footer-footer {
    position: absolute;
    top: 60px;
    flex-direction: column;
    background: #362319;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.45s;
    text-align: center;
    z-index: 100;
  }

  .Footer > .nav-items-footer > a {
    color: #fef1e6;
    display: flex;
  }

  /* .Footer > .nav-items-footer {
    display: block;
  } */

  .social-icons {
    margin: auto;
    width: 10px;
    /* display: flex; */
  }
}
